@charset "UTF-8";
/*
    - base/ contient les fichiers qui définissent les fondations de votre site, par exemple la police de caractères 
            et les normes que vous voulez appliquer sur tout votre site, telles que le box-sizing ;
    - utils/, vous rangez vos variables, fonctions, mixins et les  %placeholders pour les extensions (si vous en utilisez) ;
    - layouts/ est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est réutilisable, 
            par exemple un header pour les mises en page de grande taille ou un footer ;
    - components/ est utilisé pour ranger les blocs BEM qui sont plus indépendants, comme les boutons.

Alors que les layouts peuvent utiliser d’autres composants pour générer leurs contenus, les composants, eux, sont plus élémentaires. 
Par exemple, un formulaire doit être considéré comme un layout : la mise en page est une fonction vitale du bloc 
et il utilise d’autres blocs pour fonctionner,  comme des boutons. En revanche, le bouton lui-même est un composant car il n’a besoin 
d’aucun autre composant pour remplir sa fonction ;

    pages/ contient les blocs de code qui ne s’appliquent qu’à une seule page. 
            Vous utilisez des boutons dans tout votre site, en revanche votre page d’accueil comporte une section Citation 
            et une grille de projets qui ne sont employés nulle part ailleurs. En d’autres termes, pages/ contient des règles spécifiques 
            à une seule page qui ne seront pas réutilisées ailleurs ;
    themes/, c’est ici que vous stockez le code thématique, par exemple un style customisé pour Noël ou pour l’été. 
    vendors/ est un directory pour des feuilles de style externes comme Bootstrap ou jQuery UI. En gros, il s’utilise pour tout CSS venant de l’extérieur. 

D’une manière générale, pour éviter les erreurs, faites en sorte d’importer vos fichiers dans l’ordre suivant :
    Utils :
        Variables.
        Fonctions.
        Mixins.
        Placeholders.
    Feuilles de style de tiers (vendors) (si vous en avez).
    Base.
    Composants.
    Layout.
    Pages.
    Thèmes.

Exemple : 
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: black;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("./base/fonts//Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("./base/fonts//Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("./base/fonts//Roboto-Bold.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("./base/fonts//Shrikhand-Regular.otf");
}
#loading-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0.9;
  z-index: 1000;
  -webkit-animation: show-loading-spinner 1s linear forwards;
          animation: show-loading-spinner 1s linear forwards;
}
#loading-spinner-container div {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
#loading-spinner-container div:after {
  display: block;
  position: absolute;
  top: -6px;
  content: "";
  border-radius: 50%;
  border: 6px double #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  -webkit-animation: border-turn 1s ease-in-out infinite;
          animation: border-turn 1s ease-in-out infinite;
  width: 100%;
  height: 100%;
}
#loading-spinner-container div i {
  color: #FF79DA;
}
#loading-spinner-container div span {
  font-size: 18px;
  font-family: "Shrikhand";
}

@-webkit-keyframes show-loading-spinner {
  0% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes show-loading-spinner {
  0% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes border-turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes border-turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.new-tag {
  position: relative;
  z-index: 1;
}
.new-tag::after {
  position: absolute;
  content: "Nouveau";
  top: 20px;
  right: 20px;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #32b091;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-family: "Roboto Bold";
  border-radius: 2px;
  box-shadow: 0px 0px 2px lightgray;
  z-index: 2;
}

.btn {
  color: white;
  background: #FF79DA;
  background: linear-gradient(178deg, #FF79DA 19%, #9356DC 99%);
  height: 50px;
  border-radius: 50px;
  padding: 0 25px 0 25px;
  font-family: "Roboto Regular";
  display: grid;
  place-items: center;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(178deg, #ff93e1 19%, #a16be0 99%);
  box-shadow: 0 0 10px #FF79DA;
}

.heart {
  position: relative;
  display: grid;
  place-items: center;
  height: 32px;
  width: 32px;
  opacity: 1;
  cursor: pointer;
}
.heart:hover::after, .heart:active::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: xx-large;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(178deg, #FF79DA 19%, #9356DC 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform-origin: center center;
  -webkit-animation: fill 1s linear forwards;
          animation: fill 1s linear forwards;
}

@-webkit-keyframes fill {
  0% {
    opacity: 1;
    transform: scale(0.2);
  }
  33% {
    transform: scale(1);
  }
  66% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fill {
  0% {
    opacity: 1;
    transform: scale(0.2);
  }
  33% {
    transform: scale(1);
  }
  66% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header #logo {
  height: 70px;
  width: 100%;
  box-shadow: 0px 0px 5px gray;
  z-index: 1;
  display: grid;
  place-items: center;
}
header #logo img {
  width: 150px;
}
header #localisation {
  font-family: "Roboto Regular";
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header #localisation i {
  margin-right: 20px;
}

.header-restaurant {
  display: flex;
  flex-direction: row;
}
.header-restaurant #logo {
  width: 90%;
  box-shadow: none;
}

h1 {
  font-size: 24px;
  font-family: "Roboto Bold";
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-family: "Roboto Regular";
}

h3 {
  font-size: 18px;
  font-family: "Roboto Regular";
}

footer {
  background-color: #353535;
  color: white;
  height: 200px;
}
@media all and (min-width: 992px) {
  footer {
    height: 60px;
  }
}
footer #footer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
@media all and (min-width: 992px) {
  footer #footer-container {
    flex-direction: row;
    justify-content: space-around;
  }
}
footer #footer-container h4 {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: normal;
  height: 30%;
  display: flex;
  align-items: center;
}
@media all and (min-width: 992px) {
  footer #footer-container h4 {
    height: auto;
  }
}
footer #footer-container #footer-links {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media all and (min-width: 992px) {
  footer #footer-container #footer-links {
    flex-direction: row;
    width: 80%;
    height: auto;
  }
}
footer #footer-container #footer-links a {
  text-decoration: none;
  color: white;
}
footer #footer-container #footer-links div i {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

@media all and (min-width: 992px) {
  main #concept-fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
  }
}
main #presentation-concept {
  background-color: #F6F6F6;
  height: 290px;
  display: grid;
  align-items: center;
}
@media all and (min-width: 992px) {
  main #presentation-concept {
    height: auto;
    background-color: white;
    width: 50%;
  }
}
main #presentation-concept #presentation-concept-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
}
main #presentation-concept #presentation-concept-content > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #presentation-concept #presentation-concept-content h1 {
  width: 70%;
}
main #presentation-concept #presentation-concept-content p {
  width: 90%;
  font-size: 18px;
}
main #fonctionnement {
  display: flex;
  flex-direction: column;
  height: 440px;
}
@media all and (min-width: 992px) {
  main #fonctionnement {
    height: auto;
    width: 50%;
    align-items: center;
  }
}
main #fonctionnement #fonctionnement-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media all and (min-width: 992px) {
  main #fonctionnement #fonctionnement-content {
    width: 100%;
    align-items: center;
  }
}
main #fonctionnement #fonctionnement-content h2 {
  padding-left: 20px;
  height: 100px;
  display: flex;
  align-items: center;
}
@media all and (min-width: 992px) {
  main #fonctionnement #fonctionnement-content h2 {
    height: 50px;
    display: grid;
    place-items: center;
  }
}
main #fonctionnement #fonctionnement-content .steps {
  display: grid;
  place-items: center;
  height: 265px;
  counter-reset: number;
}
@media all and (min-width: 992px) {
  main #fonctionnement #fonctionnement-content .steps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
main #fonctionnement #fonctionnement-content .steps .step {
  width: 90%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 1px lightgray;
  position: relative;
  font-size: 18px;
  font-family: "Roboto Regular";
  background-color: #F6F6F6;
  counter-increment: number;
}
main #fonctionnement #fonctionnement-content .steps .step::before {
  content: counter(number) " ";
  position: absolute;
  top: 22.5px;
  left: -10px;
  height: 25px;
  width: 25px;
  display: grid;
  place-items: center;
  background-color: #9356DC;
  font-size: 12px;
  font-family: "Roboto Regular";
  color: white;
  border-radius: 20px;
}
main #fonctionnement #fonctionnement-content .steps .step i {
  color: grey;
  padding-left: 5px;
}
main #fonctionnement #fonctionnement-content .steps .step span {
  width: 100%;
  display: grid;
  place-items: center;
}
main #fonctionnement #fonctionnement-content .steps .step:hover {
  background-color: #F5EDFF;
}
main #fonctionnement #fonctionnement-content .steps .step:hover i {
  color: #9356DC;
}
main #restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 60px;
}
main #restaurants h2 {
  padding: 60px 0 0 20px;
}
@media all and (min-width: 992px) {
  main #restaurants h2 {
    padding: 20px 0 0 20px;
  }
}
main #restaurants #restaurants-content {
  width: 100%;
}
main #restaurants #restaurants-content .restaurant-tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media all and (min-width: 992px) {
  main #restaurants #restaurants-content .restaurant-tiles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
main #restaurants #restaurants-content .restaurant-tiles .restaurant-tile {
  width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px lightgray;
  margin-top: 20px;
  position: relative;
}
@media all and (min-width: 992px) {
  main #restaurants #restaurants-content .restaurant-tiles .restaurant-tile {
    width: 45%;
  }
}
@media all and (min-width: 1280px) {
  main #restaurants #restaurants-content .restaurant-tiles .restaurant-tile {
    width: 22%;
  }
}
main #restaurants #restaurants-content .restaurant-tiles .restaurant-tile a {
  text-decoration: none;
  color: black;
  display: block;
}
main #restaurants #restaurants-content .restaurant-tiles .restaurant-tile img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
main #restaurants #restaurants-content .restaurant-tiles .restaurant-tile .restaurant-tile-infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0 20px 20px;
}
main #restaurants #restaurants-content .restaurant-tiles .restaurant-tile:hover {
  box-shadow: 0px 0px 10px #9356DC;
}
main #restaurants #restaurants-content .restaurant-tiles .restaurant-tile .restaurant-tile-like {
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  background-color: #F6F6F6;
}
.menu-container .menu-image {
  height: 220px;
  max-height: 220px;
  z-index: 0;
}
.menu-container .menu-image img {
  height: 260px;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu-container .menu {
  z-index: 1;
  opacity: 1;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 40px 15px 60px 15px;
}
.menu-container .menu .menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 20px;
}
.menu-container .menu .menu-title h3 {
  font-family: "Shrikhand";
  font-weight: normal;
  font-size: 28px;
  padding-left: 10px;
  width: 90%;
}
@media all and (min-width: 992px) {
  .menu-container .menu .menu-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
  }
}
@media all and (min-width: 992px) {
  .menu-container .menu .menu-block .menu-sous-block {
    width: 30%;
  }
}
.menu-container .menu .menu-block .menu-sous-block h4 {
  text-transform: uppercase;
  position: relative;
  margin: 40px 0 10px 10px;
}
.menu-container .menu .menu-block .menu-sous-block h4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  border-bottom: 3px solid #99E2D0;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
  background-color: white;
  height: 70px;
  border-radius: 20px;
  -webkit-animation: fade-text 500ms ease-in forwards;
          animation: fade-text 500ms ease-in forwards;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  position: relative;
  overflow: hidden;
  opacity: 0;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-1 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-2 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-3 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-4 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-5 {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-6 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-7 {
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-8 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-9 {
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-10 {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-11 {
  -webkit-animation-delay: 2750ms;
          animation-delay: 2750ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-12 {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-13 {
  -webkit-animation-delay: 3250ms;
          animation-delay: 3250ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile.delay-14 {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile:hover > .menu-text, .menu-container .menu .menu-block .menu-sous-block .menu-tile:active > .menu-text {
  padding-right: 70px;
  transition: padding-right 400ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile:hover > .menu-check, .menu-container .menu .menu-block .menu-sous-block .menu-tile:active > .menu-check {
  right: 0;
  transition: right 400ms;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile:hover > .menu-check i, .menu-container .menu .menu-block .menu-sous-block .menu-tile:active > .menu-check i {
  -webkit-animation: rotate-menu-check 400ms ease-in forwards;
          animation: rotate-menu-check 400ms ease-in forwards;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile .menu-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile .menu-text h5 {
  font-family: "Roboto Bold";
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile .menu-text .menu-infos {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile .menu-text .menu-infos .menu-detail {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile .menu-text .menu-infos .menu-price {
  font-family: "Roboto Bold";
  font-weight: 400;
}
.menu-container .menu .menu-block .menu-sous-block .menu-tile .menu-check {
  background-color: #99E2D0;
  height: 100%;
  width: 60px;
  min-width: 0;
  max-width: 60px;
  color: white;
  position: absolute;
  top: 0;
  right: -60px;
  display: grid;
  place-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  transition: right 400ms;
}
.menu-container .btn {
  width: 50%;
  margin: 0 auto 85px auto;
}

@-webkit-keyframes fade-text {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-text {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-menu-check {
  0% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes rotate-menu-check {
  0% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(1turn);
  }
}/*# sourceMappingURL=styles.css.map */