@charset "UTF-8";
/*
    - base/ contient les fichiers qui définissent les fondations de votre site, par exemple la police de caractères 
            et les normes que vous voulez appliquer sur tout votre site, telles que le box-sizing ;
    - utils/, vous rangez vos variables, fonctions, mixins et les  %placeholders pour les extensions (si vous en utilisez) ;
    - layouts/ est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est réutilisable, 
            par exemple un header pour les mises en page de grande taille ou un footer ;
    - components/ est utilisé pour ranger les blocs BEM qui sont plus indépendants, comme les boutons.

Alors que les layouts peuvent utiliser d’autres composants pour générer leurs contenus, les composants, eux, sont plus élémentaires. 
Par exemple, un formulaire doit être considéré comme un layout : la mise en page est une fonction vitale du bloc 
et il utilise d’autres blocs pour fonctionner,  comme des boutons. En revanche, le bouton lui-même est un composant car il n’a besoin 
d’aucun autre composant pour remplir sa fonction ;

    pages/ contient les blocs de code qui ne s’appliquent qu’à une seule page. 
            Vous utilisez des boutons dans tout votre site, en revanche votre page d’accueil comporte une section Citation 
            et une grille de projets qui ne sont employés nulle part ailleurs. En d’autres termes, pages/ contient des règles spécifiques 
            à une seule page qui ne seront pas réutilisées ailleurs ;
    themes/, c’est ici que vous stockez le code thématique, par exemple un style customisé pour Noël ou pour l’été. 
    vendors/ est un directory pour des feuilles de style externes comme Bootstrap ou jQuery UI. En gros, il s’utilise pour tout CSS venant de l’extérieur. 

D’une manière générale, pour éviter les erreurs, faites en sorte d’importer vos fichiers dans l’ordre suivant :
    Utils :
        Variables.
        Fonctions.
        Mixins.
        Placeholders.
    Feuilles de style de tiers (vendors) (si vous en avez).
    Base.
    Composants.
    Layout.
    Pages.
    Thèmes.

Exemple : 
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: black;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("./base/fonts//Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("./base/fonts//Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("./base/fonts//Roboto-Bold.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("./base/fonts//Shrikhand-Regular.otf");
}
.btn {
  color: white;
  background: #FF79DA;
  background: linear-gradient(178deg, #FF79DA 19%, #9356DC 99%);
  height: 50px;
  border-radius: 50px;
  padding: 0 25px 0 25px;
  font-family: "Roboto Regular";
  display: grid;
  place-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header #logo {
  height: 70px;
  width: 100%;
  box-shadow: 0px 0px 5px gray;
  z-index: 1;
  display: grid;
  place-items: center;
}
header #logo img {
  width: 150px;
}
header #localisation {
  font-family: "Roboto Regular";
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header #localisation i {
  margin-right: 20px;
}

h1 {
  font-size: 24px;
  font-family: "Roboto Bold";
  font-weight: 500;
}

h2 {
  font-size: 24px;
  font-family: "Roboto Regular";
}

h3 {
  font-size: 18px;
  font-family: "Roboto Regular";
}

#localisation {
  overflow: hidden;
}
#localisation i {
  transform: translateY(0);
}
#localisation:hover i {
  -webkit-animation: move-upanddown 1500ms 3;
          animation: move-upanddown 1500ms 3;
}

@-webkit-keyframes move-upanddown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-upanddown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
#presentation-concept-container {
  background-color: #F6F6F6;
  height: 290px;
  display: grid;
  align-items: center;
}
#presentation-concept-container #presentation-concept-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
}
#presentation-concept-container #presentation-concept-content > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#presentation-concept-container #presentation-concept-content h1 {
  width: 70%;
}
#presentation-concept-container #presentation-concept-content p {
  width: 90%;
  font-size: 18px;
}

#fonctionnement-container {
  display: flex;
  flex-direction: column;
  height: 440px;
}
#fonctionnement-container #fonctionnement-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#fonctionnement-container #fonctionnement-content h2 {
  padding-left: 20px;
  height: 100px;
  display: flex;
  align-items: center;
}
#fonctionnement-container #fonctionnement-content .steps {
  display: grid;
  place-items: center;
  height: 265px;
  counter-reset: number;
}
#fonctionnement-container #fonctionnement-content .steps .step {
  width: 90%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 1px lightgray;
  position: relative;
  font-size: 18px;
  font-family: "Roboto Regular";
  background-color: #F6F6F6;
  counter-increment: number;
}
#fonctionnement-container #fonctionnement-content .steps .step::before {
  content: counter(number) " ";
  position: absolute;
  top: 22.5px;
  left: -10px;
  height: 25px;
  width: 25px;
  display: grid;
  place-items: center;
  background-color: #9356DC;
  font-size: 12px;
  font-family: "Roboto Regular";
  color: white;
  border-radius: 20px;
}
#fonctionnement-container #fonctionnement-content .steps .step i {
  color: grey;
  padding-left: 5px;
}
#fonctionnement-container #fonctionnement-content .steps .step span {
  width: 100%;
  display: grid;
  place-items: center;
}
#fonctionnement-container #fonctionnement-content .steps .step:hover {
  background-color: #F5EDFF;
}
#fonctionnement-container #fonctionnement-content .steps .step:hover i {
  color: #9356DC;
}

#restaurants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 60px;
}
#restaurants-container h2 {
  padding: 60px 0 20px 20px;
}
#restaurants-container #restaurants-content {
  width: 100%;
}
#restaurants-container #restaurants-content .restaurant-tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#restaurants-container #restaurants-content .restaurant-tiles .restaurant-tile {
  width: 90%;
  border-radius: 20px;
  box-shadow: 2px 2px 1px lightgray;
  position: relative;
  z-index: 1;
}
#restaurants-container #restaurants-content .restaurant-tiles .restaurant-tile::after {
  position: absolute;
  content: "Nouveau";
  top: 20px;
  right: 20px;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #32b091;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-family: "Roboto Bold";
  border-radius: 2px;
  box-shadow: 0px 0px 2px lightgray;
  z-index: 2;
}
#restaurants-container #restaurants-content .restaurant-tiles .restaurant-tile img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#restaurants-container #restaurants-content .restaurant-tiles .restaurant-tile .restaurant-tile-infos {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 15px;
}
#restaurants-container #restaurants-content .restaurant-tiles .restaurant-tile .restaurant-tile-infos .restaurant-tile-infos-text {
  width: 80%;
}
#restaurants-container #restaurants-content .restaurant-tiles .restaurant-tile .restaurant-tile-infos .restaurant-tile-like {
  display: grid;
  place-items: center;
  width: 20%;
}/*# sourceMappingURL=styles.css.map */