$path-font:"./base/fonts/";
$path-images:"/assets/images/";

$font-logo-title:"Shrikhand";
$font-text:"Roboto";
$font-text-regular:"Roboto Regular";
$font-text-bold:"Roboto Bold";
$font-size-principal:12px;
$font-size-title:24px;
$font-size-subtitle:18px;
$font-size-new:14px;
$font-size-menu-title:16px;


$color-principal:#9356DC;
$color-second:#FF79DA;
$color-third:#99E2D0;
$color-fourth:#F6F6F6;
$color-fifth:#F5EDFF;


$bgcolor-footer:#353535;



$border-radius-default:20px;


