.btn
{
    color:white;
    background: $color-second;
    background: $color-linear-gradient;
    height:50px;
    border-radius: 50px;
    padding:0 25px 0 25px;

    font-family: $font-text-regular;

    display:grid;
    place-items: center;

    text-decoration: none;
    cursor: pointer;
}

.btn:hover{
    background: $color-lighten-linear-gradient;
    box-shadow: 0 0 10px $color-second;
}