footer {
    background-color: $bgcolor-footer;
    color: white;

    height:200px;

    @media all and (min-width:992px) {
        height: 60px;
    }

    #footer-container {
        display:flex;
        flex-direction: column;

        height: 100%;

        padding: 20px;

        @media all and (min-width:992px) {
            flex-direction: row;
            justify-content: space-around;
        }

        h4 {
            font-family: $font-logo-title;
            font-size: $font-size-subtitle;
            font-weight:normal;
           

            height: 30%;
            display:flex;
            align-items: center;

            @media all and (min-width:992px) {
                height: auto;
            }
        }

        #footer-links{
            height: 60%;
            display:flex;
            flex-direction: column;
            justify-content: space-around;

            @media all and (min-width:992px) {
                flex-direction: row;
                width:80%;
                height: auto;
            }

            a{
                text-decoration: none;
                color:white;
            }
            div i {
                height:15px;
                width: 15px;
                margin-right: 10px;
            }
        }
    }


}