h1{
    font-size: $font-size-title;
    font-family: $font-text-bold;
    font-weight: 500;
}

h2{
    font-size: $font-size-title;
    font-family: $font-text-regular;
}

h3{
    font-size: $font-size-subtitle;
    font-family: $font-text-regular;
}