.menu-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    position: relative;

    background-color: $color-fourth;


    .menu-image {
        height: 220px;
        max-height: 220px;
        z-index: 0;

        img {
            height: 260px;
            max-width: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .menu {
        z-index: 1;
        opacity: 1;
        display: flex;
        flex-direction: column;

        background-color: $color-fourth;

        border-top-left-radius: 40px;
        border-top-right-radius: 40px;

        padding: 40px 15px 60px 15px;

        .menu-title {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-right: 20px;

            h3 {
                font-family: $font-logo-title;
                font-weight: normal;
                font-size: 28px;


                padding-left: 10px;

                width: 90%;
            }
        }

        .menu-block {

            @media all and (min-width:992px) {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-bottom: 20px;
            }

            .menu-sous-block {

                @media all and (min-width:992px) {
                    width:30%;
                }

                h4 {
                    text-transform: uppercase;
                    position: relative;

                    margin: 40px 0 10px 10px;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;

                        width: 40px;
                        height: 20px;
                        border-bottom: 3px solid $color-third;
                    }
                }

                .menu-tile {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    margin-top: 14px;
                    background-color: white;

                    height: 70px;

                    border-radius: 20px;

                    animation: fade-text 500ms ease-in forwards;
                    animation-delay: 250ms;

                    position: relative;

                    overflow: hidden;

                    opacity: 0;

                    &.delay-1 {
                        animation-delay: 250ms;
                    }

                    &.delay-2 {
                        animation-delay: 500ms;
                    }

                    &.delay-3 {
                        animation-delay: 750ms;
                    }

                    &.delay-4 {
                        animation-delay: 1000ms;
                    }

                    &.delay-5 {
                        animation-delay: 1250ms;
                    }

                    &.delay-6 {
                        animation-delay: 1500ms;
                    }

                    &.delay-7 {
                        animation-delay: 1750ms;
                    }

                    &.delay-8 {
                        animation-delay: 2000ms;
                    }

                    &.delay-9 {
                        animation-delay: 2250ms;
                    }

                    &.delay-10 {
                        animation-delay: 2500ms;
                    }

                    &.delay-11 {
                        animation-delay: 2750ms;
                    }

                    &.delay-12 {
                        animation-delay: 3000ms;
                    }

                    &.delay-13 {
                        animation-delay: 3250ms;
                    }

                    &.delay-14 {
                        animation-delay: 3500ms;
                    }


                    &:hover {
                        &>.menu-text {
                            padding-right: 70px;
                            transition: padding-right 400ms;
                        }

                        &>.menu-check {
                            right: 0;
                            transition: right 400ms;

                            i {
                                animation: rotate-menu-check 400ms ease-in forwards;
                            }

                        }
                    }

                    .menu-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        padding: 15px;
                        width: 100%;

                        h5 {
                            font-family: $font-text-bold;
                            font-size: $font-size-menu-title;
                            font-weight: 400;

                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        .menu-infos {
                            font-size: $font-size-new;

                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            .menu-detail {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .menu-price {
                                font-family: $font-text-bold;
                                font-weight: 400;
                            }
                        }
                    }
                    .menu-check {
                        background-color: $color-third;

                        height: 100%;
                        width: 60px;
                        min-width: 0;
                        max-width: 60px;
                        color: white;

                        position: absolute;
                        top: 0;
                        right: -60px;

                        display: grid;
                        place-items: center;

                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;

                        overflow: hidden;

                        transition: right 400ms;
                    }
                }
            }
        }
    }

    .btn {
        width: 50%;
        margin: 0 auto 85px auto;
    }
}

@keyframes fade-text {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotate-menu-check {
    0% {
        transform: rotate(.5turn);
    }

    100% {
        transform: rotate(1turn);
    }
}